.selectStat {
  padding: 4px 8px;
  margin: 4px 0;
  background: transparent;
  outline: none;
  border: none;
}

.optBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
